/angu1/nbproject/private/
/angu1/build/
/angu2/nbproject/private/
/angu2/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/anguIno/nbproject/private/
/anguIno/build/
/anguIno1/nbproject/private/
/anguIno1/build/
/anguIno2/nbproject/private/
/anguIno2/build/
/anguIno3/nbproject/private/
/anguIno3/build/
/anguIno4/nbproject/private/
/anguIno4/build/
/anguIno5/nbproject/private/
/anguIno5/build/
/anguIno6/nbproject/private/
/anguIno6/build/
/anguExep1/nbproject/private/
/anguExep1/build/
/anguExep2/nbproject/private/
/anguExep2/build/
/anguExep3/nbproject/private/
/anguExep3/build/
/anguExep4/nbproject/private/
/anguExep4/build/
/anguExep5/nbproject/private/
/anguModul/nbproject/private/
/anguModul/build/
/anguModul1/nbproject/private/
/anguModul1/build/