<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <div>
            <p>Name: <input type="text" ng-model="name"></p>
            <h1>Hello {{name}}</h1>
        </div>
        
        
        
        <div>
            <p>Name: <input type="text" ng-model="nam"></p>
            <p ng-bind="nam"></p>
        </div>
        
        
        <div ng-init="firstName='molu'">
            <p> The name is <span ng-bind="firstName"></span></p>
        </div>
        
        
        <div data-ng-init="firstNamee='holy'">
        <p>The name is <span data-ng-bind="firstNamee"></span></p>
        </div>
        
        
        <div>
            <p>My first expression: {{5+5}}</p>
        </div>
    </body>
</html>
