<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <style>input.ng-invalid{
            background-color: mediumvioletred;
}</style>
    </head>
    <body>
        <div  ng-controller= "myCtrl">
            Name:<input ng-model="name">
        </div>
        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope) {
                $scope.name="john ";
    });
        </script>
        
        
        <div ng-controller="myCtrl">
            Name: <input ng-model="namee">
            <h1>You entered:{{namee}}</h1>
        </div>
        
        
        <form name="myForm">
            <input type="email" name="myAddress" ng-model="text">
            <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
        </form>
        
        <form name="myFormm" ng-init="myTextt='post@myweb.com'">
          Email:
          <input type="email" name="myAddresss" ng-model="myTextt" required>
          <h1>Status</h1>
          {{myFormm.myAddresss.$valid}}
          {{myFormm.myAddresss.$dirty}}
          {{myFormm.myAddresss.$touched}}
        </form>
        
        <form name="myForme1">
            Enter you name:
            <input name="myName1" ng-model="myTex" required>
            
        </form>
    </body>
</html>
